
:root {
    --primary-color: rgb(162, 108, 162);
    --primary-color-dark: purple;
    --secondary-color: rgba(255, 132, 0, 0.858);
    --text-dark: black;
    --text-light: rgb(166, 142, 142);
    --extra-light: white;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
/*navbar*/
nav {
    background-color: lightslategray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.navbar {
    display: flex;
    align-items: center;
    max-width: 100%;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    margin: auto;
}

.logo_area img{
    width: 120px;
    height: 90px;
    background-image: transparent;
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 5rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    transition: left 0.3s;
}

ul li a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    color: white;
    font-weight: 600;
    transition: all .7s ease;
    font-size: 1.5rem;
}

ul li a:hover {
    color: black;
    background-color: bisque;
    box-shadow: 0 0 15px white;
}

/*home*/
.home {
    background-color: var(--extra-light);
}

.section_container {
    top: 0;
    right: 0;
    min-height: 100vh;
    display: grid;
    margin: auto;
    padding: 1rem;
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    background-color: rgb(120, 208, 232);
    z-index: -1;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: black;
    font-weight: 500;
    font-size: 60px;
    margin-bottom: 0.5rem;
}

.title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: black;
    margin-bottom: 2rem;
}

.action_btn {
    display: flex;
    gap: 4rem;
}

.action_btn button {
    letter-spacing: 7px;
    font-size: 80px;
    font-weight: 600;
    padding: 1rem 2rem;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    transition: 0.2s ease;
}

.download__cv a{
    background-color: blue;
    color: lightcoral;
    font-size: 25px;
    font-weight: bold;
    box-sizing: border-box;
}

.download__cv:hover {
    cursor: pointer;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 100%;
}

/*About Me*/
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 50px;
    padding: auto;
    align-items: center;
    font-size: 25px;
    margin: auto;
}

.about-heading{
    font-size: 45px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 25px 30%;
    background-color: rgb(120, 208, 232);
    max-width: 100%;
    /* align-items: center; */
}

/*Education*/
#education {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#education h1{
    padding: auto;
    font-size: 45px;
    flex-direction: column;
    box-sizing: border-box;
}

.columns{
    width: 100%;
    grid-template-columns: auto auto;
    background-color: rgb(120, 208, 232);
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 350px;
    width: 500px;
    background-color: black;
    border-radius: 20px;
    margin: 5px;
}

.box h2{
    font-size: 2rem;
    margin-top: 40px;
    color: yellowgreen;
    text-align: center;
}

.box p{
    font-size: 1.5rem;
    color: rgb(236, 147, 14);
    text-align: center;
}

/*skills*/
#skills{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    font-size: 18px;
}

.headings{
    font-size: 45px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    background-color: rgb(120, 208, 232);
}

.box1{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    text-align: justify;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(62, 116, 62)50%, rgb(255,45,45) 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.box1:hover{
    background-position: left bottom;
    border: none;
    color: aliceblue;
    box-shadow: 0 0 20px rgb(62, 116, 62);
}

.box1 img{
    width: 120px;
    height: 100px;
}

/* Achivement Section  */
.achivement {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(120, 208, 232);
}

.my_achive {
    margin: 20px;
    height: 345px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 0 0 40px;
    box-shadow: 5px 5px 5px rgb(27, 27, 27);
}

.my_achive p {
    margin-top: 10px;
}
/*contact*/
.heading{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: black;
    text-align: center;
}
.contact-head{
    text-align: center;
    font-size: 45px;
}
 

.contact-info{
    flex-basis: 35%;
}

.contact-info p{
    margin-top: 30px;
}

.contact-info p i{
    color: red;
    margin-right: 15px;
    font-size: 25px;
}

 .media-icons{
    margin-top: 30px;
}

.media-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
} 
footer {
    color: lightslategray;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    
  }
